html,
body {
    margin: 0;
    height: 100%;
    color: #2c2c53;
    background-color: #fffff3;
    font-family: 'Noto Sans HK', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: overlay;
}

#root {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    color: #b06873;
    text-decoration: none;
    font-weight: 100;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1300px;
}
