.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
    .title {
        white-space: nowrap;
        font-size: 48px;
        font-weight: 100;
        padding-bottom: 0.2rem;
    }
    .email {
        font-weight: 100;
    }
}
